<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="/js/app1.js"></script>
    <img src="./img/fly.png" alt="500" width="250">
</head>
<body>
        {{>header}}
    <h1>This is the index page of hbs {{title}} </h1>
    <h1>{{name}}</h1>
    <h1>{{age}}</h1>
    {{>footer}}
    
</body>
</html>